@charset "UTF-8";
/* CSS Document */
.container {
    max-width: 23.5rem;
    margin: auto;
    background: var(--Cream-White, #FAF8F6);
}

/* Header Styles */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91.45%;
    margin: auto;
    padding-block-start: 1.5rem;
    padding-block-end: 3.5rem;
}

.btn-beta-access {
    border-radius: 6px;
    border: 1px solid var(--Dark-Blue, #172339);
}

.btn-header {
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--Dark-Blue, #172339);
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    text-decoration: none;
    background: transparent;
}

.btn-header:hover {
    background: var(--Dark-Blue, #172339);
    color: var(--Cream-White, #FAF8F6);
    transition: all 0.3s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn-header:hover {
        transition: none;
    }
}

/* Main Styles */
/* Hero Section Styles */

.hero-section {
    width: 91.45%;
    margin: auto;
}

.pattern-curve-hero {
    width: 44.25%;
    position: relative;
    inset-inline-start: 9.625rem;
    margin-bottom: 0.5rem;
}

.hero-title {
    font-size: 2.375rem;
    font-weight: 400;
    line-height: 2.75rem;
    color: var(--Dark-Blue, #172339);
    letter-spacing: -0.033em;
}

.hero-title span {
    font-weight: 700;
}

.hero-description {
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.0055625em;
    color: var(--Grey, #49566D);
}

.btn-hero {
    display: inline-block;
    margin-bottom: 3.5rem;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: -0.01125em;
    color: var(--Cream-White, #FAF8F6);
    text-decoration: none;
    background: var(--Dark-Blue, #172339);
    border: none;
}

.btn-hero:hover {
    background: var(--gradient);
    transition: all 0.3s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn-hero:hover {
        transition: none;
    }
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    text-align: center;
    font-style: normal;

    margin: 3.5rem 0 14.8125rem 0;
}

.stat-value {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--Dark-Blue, #172339);
}

.stat-label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing: 0.15625em;
    color: var(--Grey, #49566D);
}

/* Testimonial Section Styles */

.testimonial-section {    
    background: var(--Dark-Blue, #172339);
    border-radius: 15px;
    position: relative;
}

.testimonial-photo {
    position: relative;
}

.pattern-blur {
    width: 50%;
    position: absolute;
    inset-inline-start: 5.315rem;
}

.testimonial-image {
    position: absolute;
    top: -11.3125rem;
    inset-inline-start: 4.1375rem;
}

.pattern-curve-testimonial {
    width: 13.15%;
    position: absolute;
    top: 16.3125rem;
    inset-inline-start: 10.1875rem;
}

.testimonial-text {
    padding-block-start: 21.125rem;
    padding-block-end: 4rem;
    text-align: center;
}

.testimonial-title {
    color: #FAF8F6;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: -0.0260625em;
}

.testimonial-title span {
    font-weight: 700;
}

.testimonial-quote {
    width: 91.45%;
    margin: 2.5rem auto;
    color: var(--Cream, #F3EDE7);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.005625em;
}

.testimonial-author {
    color: var(--Cream-White, #FAF8F6);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: -0.01125em;
}

.testimonial-role {
    color: var(--Cream-White, #FAF8F6);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing: 0.15625em;
}

/* Footer Styles */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding: 3.5rem 0 5rem 0;
    background: var(--Cream, #F3EDE7);
}

.copyright {
    color: var(--Grey, #49566D);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.0051875em;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}